<section class="container-fluid signup-contain">
  <h1 class="sr-only">Sign Up</h1>
  <div class="row">
    <article class="col-sm-12 col-md-6 col-lg-5">
      <section class="form-contain">
        <div class="logo-contain">
          <a class="logo" routerLink="/discover">
            <span class="sr-only">Stitch</span>
          </a>
        </div>
        <button type="button" class="btn btn-default btn-primary btn-block" (click)="loginWithGoogle()">
          Log In with Google
        </button>
        <form [formGroup]="signupForm" (ngSubmit)="signup()">
          <div class="form-group">
            <label for="username" class="sr-only">Username</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="icon-user"></i></div>
              <input type="text" class="form-control" name="username" formControlName="username" placeholder="AwesomeUser99" required>
              <!--<span class="help-block text-danger" *ngIf="formErrors.username">{{ formErrors.username }}</span>-->
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="sr-only">Email Address</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="icon-mail"></i></div>
              <input type="email" class="form-control" name="email" formControlName="email" placeholder="awesome@email.com" required>
              <!--<span class="help-block text-danger" *ngIf="formErrors.email">{{ formErrors.email }}</span>-->
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="sr-only">Password</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="icon-lock"></i></div>
              <input type="password" class="form-control" name="password" formControlName="password" placeholder="$up3r$3cr3tp@$$w0rd" required>
              <!--<span class="help-block text-danger" *ngIf="formErrors.password">{{ formErrors.password }}</span>-->
            </div>
          </div>
          <button type="submit" class="btn btn-default btn-block" [disabled]="!signupForm.valid">Sign up</button>
        </form>
        <a class="nav-text" routerLink="/login">Already have an account? Sign in here.</a>
      </section>
    </article>
    <aside class="hidden-sm col-md-6 col-lg-7">
      <ul>
        <li>Slide</li>
      </ul>
    </aside>
  </div>
</section>
