article {position: relative;height: 100vh;box-shadow: 3px 0 6px rgba(0,0,0,0.16), 3px 0 6px rgba(0,0,0,0.23);}

input {border:0px solid transparent;background: transparent;}

.form-contain {position: absolute;top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);  min-width:300px; max-width: 600px;}

.input-group-addon {border: none;background: transparent;}

.nav-text {float: right;margin-top: 20px;}
