<section class="container-fluid">
  <h1 class="sr-only">Sign Up</h1>
  <div class="row">
    <article class="col-sm-12 col-md-6 col-lg-4">
      <form>
        <div class="form-group">
          <label for="name">Username</label>
          <input type="text" class="form-control" #username placeholder="awesome@email.com">
        </div>
        <div class="form-group">
          <label for="name">Password</label>
          <input  type="password" class="form-control" #password placeholder="$up3r$3cr3tp@$$w0rd">
        </div>
        <button type="submit" class="btn btn-default" (click)="signup(username.value, password.value)">
            Log In
        </button>
        <button type="button" class="btn btn-default btn-primary" (click)="loginWithGoogle()">
            Log In with Google
        </button>
      </form>
    </article>
    <aside class="hidden-sm col-md-6 col-lg-8">
      <ul>
        <li>Slide</li>
      </ul>
    </aside>
  </div>
</section>
